{{/* CyberGuard-style header with our navigation */}}
<header class="transparent">
    <div id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between xs-hide">
                        <div class="d-flex">
                            {{ with .Site.Params.contactEmail }}
                            <div class="topbar-widget me-3"><a href="mailto:{{ . }}"><i class="icofont-envelope"></i>{{ . }}</a></div>
                            {{ end }}
                            <div class="topbar-widget me-3"><a href="/about/"><i class="icofont-shield"></i>Licensed operators in 35+ countries</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div id="logo">
                            <a href="/">
                                <span class="site-logo-text">{{ .Site.Params.brand }}</span>
                                <span class="site-logo-text-mobile">CPH</span>
                            </a>
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <ul id="mainmenu">
                            <li><a class="menu-item" href="/">Home</a></li>
                            <li><a class="menu-item" href="/services/">Services</a>
                                <ul>
                                    <li><a href="/services/bodyguard-hire/">Bodyguard Hire</a></li>
                                    <li><a href="/services/executive-protection/">Executive Protection</a></li>
                                    <li><a href="/services/security-drivers/">Security Drivers</a></li>
                                    <li><a href="/services/event-security/">Event Security</a></li>
                                    <li><a href="/services/residential-security/">Residential Security</a></li>
                                </ul>
                            </li>
                            <li><a class="menu-item" href="/cities/">Locations</a>
                                <ul>
                                    <li><a href="/cities/lagos/">Lagos</a></li>
                                    <li><a href="/cities/nairobi/">Nairobi</a></li>
                                    <li><a href="/cities/johannesburg/">Johannesburg</a></li>
                                    <li><a href="/cities/bogota/">Bogota</a></li>
                                    <li><a href="/cities/mexico-city/">Mexico City</a></li>
                                    <li><a href="/cities/dubai/">Dubai</a></li>
                                    <li><a href="/cities/istanbul/">Istanbul</a></li>
                                    <li><a href="/cities/riyadh/">Riyadh</a></li>
                                    <li><a href="/cities/mumbai/">Mumbai</a></li>
                                    <li><a href="/cities/sao-paulo/">Sao Paulo</a></li>
                                </ul>
                            </li>
                            <li><a class="menu-item" href="/risk-assessments/">Risk Assessments</a></li>
                            <li><a class="menu-item" href="#quote-form">Contact</a></li>
                        </ul>
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area">
                            <a href="#quote-form" class="btn-main fx-slide"><span>Request Consultation</span></a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
